.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }
}

.heroImage {
  width: 6.25rem;
  height: 6.25rem;
}

.buttonWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

@media screen and (max-width: 540px) {
  .buttonWrapper {
    flex-direction: column;
  }
}

.featureWrapper {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

@media screen and (max-width: 966px) {
  .featureWrapper {
    text-align: center;
  }
}

.featureImage {
  height: 12.5rem;
  width: 12.5rem;
}
